@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  z-index: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.disclaimer {
  background-color: rgb(154, 229, 248);
  color: rgb(195, 13, 0);
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5em;
  border-radius: 1em 0 0 0;
}
.textDisclaimer{
  margin: 0
}
.linkContainer{
  display: flex;
  gap: 1em;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}